#d1
{
    color: aqua;
}

.c1
{
    color: blue;
}

.c3{
    background-color: brown;
}

h1,p{
    color: blueviolet;
}

div
{
    background-color: #132920;
}

#d5
{
    background-color: bisque;
}

