div{
    background-color: aqua;
    color: black;
    border : 2px solid gray;
    border-radius: 40px;
    margin-left: 400px;
    margin-top: 200px;
    width: 600px;
    height:200px

    
    
    
    
}
p{
    padding: 50px;

}
