.row{
    /* height: 500px; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
 
    align-items: center;
    flex-wrap: wrap;

}
.c{
    border: 2px solid grey;
    height: 300px;
    width: 300px;
    margin-top: 50px;
}
.col1{
    background-color: aqua;
}
.col2{
    background-color: green
}
.col3{
    background-color: yellow
}
.col4{
    background-color: blue
}

/* 1-%
2-flex-wrap
media-qery
grid */



