.main{
    height: 200px;
    width: 200px;
    background-color: aqua;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s ease-in;

}
body{
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.main:hover{
transform: translateY(200px);
}

